!*/

!__main__.py
!requirements.txt
!LICENSE
!src/beamification/beamification.py
!src/beamification/blueprint.py
!src/beamification/entry.py
!src/beamification/make_result.py
!src/beamification/s_field.py